body{
  background-color:lightblue;
  font-family:sans-serif;
  text-align:fixed;
 } 
h1{color:red;} 
h2{color:orange;} 
h3{color:yellow;} 
h4{color:green;} 
h5{color:blue} 
h6{color:purple;} 
p{
  background-color:palegreen;
  text-align:fixed;
  
 } 

/* CSS */
.button{
  background-color: #00308F;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover,
.button:focus {
  background-color: #72A0C1;
}
